<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/">
    <title>Document</title>
</head>
<body>
    <section id="landing-page">
        <div class="branding">
          <div class="logo">
            <a href="#" class="site-url"><img src="../static/img/logo.png" alt="logo"></a>
          </div>
          <nav class="navbar">
            <ul class="listing">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="content">
          <div class="content-inner">
            <h1 class="heading">ConnectID</h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, officia deserunt mollit anim id est laborum.</p>
            <div class="container">
              <div class="center">
                <button class="btn">
                  <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                  </svg>
                  <a href="https://bidwebid.secure-activation.com/connect/authorize?response_type=id_token&client_id=81309447-ce13-4cfd-9c38-df22c250abe5&state=SPu7xbK85WDf3QKr6zZmuGUMPL0wiR5L3pZKT8E3;openIdConnect=1&redirect_uri=https://gabrielvasconcelosmarques.github.io/testeLogin/&scope=openid profile email&nonce=SPu7xbK85WDf3QKr6zZmuGUMPL0wiR"><span>ENTRAR</span></a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>