<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>Battousai - Home</title>
</head>
<body>
    <section id="landing-page">
        <div class="content">
          <div class="content-inner">
           <div class="container1">
            <a href="./error.html" target="_blank">
              <button class="btn-logout">
                <span>SAIR</span>
              </button>
            </a>
           </div>
            <div class="logo">
              <img src="../static/img/logo.png" alt="logo">
            </div>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, officia deserunt mollit anim id est laborum.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, officia deserunt mollit anim id est laborum.
            </p>
            <div class="container2">
              <div class="center">
                <a href="./marketing.html" target="_blank">
                  <button class="btn">
                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                      <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                      <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg>
                    <span>ENTRAR</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>