<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>Battousai</title>
</head>
<body>
    <section id="landing-page">
        <div class="branding">
          <div class="logo">
            <a href="#" class="site-url"><img src="../static/img/logo.png" alt="logo"></a>
          </div>
          <nav class="navbar">
            <ul class="listing">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="content">
          <div class="content-inner">
            <h1 class="heading">ConnectID</h1>
            <p>Seja bem-vindo ao Battousai!! Uma aplicação segura integrada com o Connect ID. Para entrar na página é só clicar no botão abaixo.</p>
            <div class="container">
              <div class="center">
                <a href="./conectar.html" target="_blank">
                  <button class="btn">
                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                      <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                      <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg>
                    <span>ENTRAR</span>
                  </button>
                </a> 
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>