<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/modelosLoading/loading2.css">
    <title>Loading 02</title>
</head>
<body>

    <img src="../static/img/logo.png" alt="">

    <ul>
        <li>B</li>
        <li>A</li>
        <li>T</li>
        <li>T</li>
        <li>O</li>
        <li>U</li>
        <li>S</li>
        <li>A</li>
        <li>I</li>
    </ul>
</body>
</html>