<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div id="page-auth">
        <main>
            <div id="main-content">
                <h1>LOGIN PAGE</h1>

                <form method="POST" action="">
                    <input type="text" placeholder="Username">
                    <input type="password" name="" id="" placeholder="Password">
                    <a href="">ENTRAR</a>
                </form>
            </div>
        </main>
        <aside>
            <img src="../static/img/Logo Battousai.png" alt="">
            <p>Sistema de gerenciamento Battousai</p>
        </aside>
    </div>
</body>
</html>